<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelRecruit - Admin</title>
    <script src="/public/js/tailwind.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <style>
        .alumni {
            font-family: 'Permanent Marker', cursive;
        }
        .inputfile {
            display: none;
        }
    </style>
</head>
<body class="relative">
    <!-- Nav Section -->
    <nav class="bg-gray-100 border-b shadow border-gray-50 p-5 fixed w-full z-50 flex items-center justify-between md:block">
        <div>
            <h1 class="text-green-500 alumni text-2xl md:text-3xl">TravelRecruit - Admin</h1>
        </div>
    </nav>

    <div class=" overflow-x-hidden grid grid-cols-4">

        <!-- SideBar -->
        <section class="hidden md:block z-10 col-span-1 border-r border-green-200 bg-gray-100 min-h-screen h-full pt-28">
            <div>
                <!-- Dashboard -->
                <a href="/admin">
                    <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                        <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path>
                        </svg>
                        <p class="text-sm font-bold text-gray-600">Dashboard</p>
                    </div>
                </a>
                <!-- Users -->
                <a href="/users">
                    <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                        <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                            </path>
                        </svg>
                            <p class="text-sm font-bold text-gray-600">Users</p>
                    </div>
                </a>
                <!-- WORKS -->
                <a href="/works">
                    <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                        <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
                            </path>
                        </svg>
                            <p class="text-sm font-bold text-gray-600">Works</p>
                    </div>
                </a>
                <!-- ADD WORKS -->
                <a href="/addwork">
                    <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                        <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z">
                            </path>
                        </svg>
                            <p class="text-sm font-bold text-gray-600">Add Work</p>
                    </div>
                </a>
                <!-- SETTINGS -->
                <a href="#">
                    <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                        <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z">
                            </path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                            <p class="text-sm font-bold text-gray-600">Settings</p>
                    </div>
                </a>
                <!-- Log Out -->
                <a href="#">
                    <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                        <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                        </svg>
                            <p class="text-sm font-bold text-gray-600">Log Out</p>
                    </div>
                </a>
            </div>
        </section>

        <!-- Main Section -->
        <section class="col-span-4 md:col-span-3 mt-24">
            <div>
                <div class="w-full mx-auto p-4 border rounded-md border-gray-200 shadow-md">
                    <div class="flex flex-col gap-5 max-w-[900px] space-x-5">
                        <!-- Displays Image When selected -->
                        <div class="relative bg-gray-100 p-5 col-span-2 w-full min-h-[250px] max-w-[500px] flex flex-col items-center justify-center hidden withPicture">
                            <img class="rounded-sm object-contain h-full w-full max-h-[250px] picImg" alt="" />
                            <label class="picLabel">
                                <span class="absolute -top-2 text-md right-0 h-8 font-bold bg-white ml-3 p-1 mb-3 rounded-lg cursor-pointer">
                                    <!-- Camera Icon -->
                                    <svg class="h-7 text-orange-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z">
                                        </path>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z">
                                        </path>
                                    </svg>
                                </span>
                                <input type="file" name="file" id="file" class="inputfile picInput" />
                            </label>
                        </div>
                        <!-- Displays Gray Background when Image is not selected -->
                        <div class="bg-gray-100 p-5 col-span-2 w-full min-h-[250px] max-w-[500px] noPicture">
                            <label class="label">
                                <div class="flex flex-col items-center justify-center mt-24">
                                    <!-- Camera Icon -->
                                    <svg class="h-10 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z">
                                        </path>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z">
                                        </path>
                                    </svg>
                                    <p class="text-xs font-bold text-gray-400 cursor-pointer">
                                        Click to Add Photo of Product
                                    </p>
                                    <input type="file" name="file" id="file" class="noPicInput inputfile" />
                                </div>
                            </label>
                        </div>
                        <!-- Main Form -->
                        <form class="col-span-3 space-y-5 py-5">
                            <div class="space-y-2">
                              <p class="text-md font-bold text-gray-500 tracking-wider">
                                Work's Title
                              </p>
                              <input
                                required
                                type="text"
                                placeholder="Receptionist: Wes Edmonton Hotel, Canada"
                                class="border-b outline-none w-full placeholder:opacity-70 placeholder:text-md border-gray-400"
                              />
                            </div>
                            <div class="space-y-2">
                              <p class="text-md font-bold text-gray-500 tracking-wider">
                                Work's Description
                              </p>
                              <input
                                required
                                type="text"
                                placeholder="Requirements:secondary level education..."
                                class="border-b outline-none w-full placeholder:opacity-70 placeholder:text-md border-gray-400"
                              />
                            </div>
                            <div class="space-y-2">
                              <p class="text-md font-bold text-gray-500 tracking-wider">
                                Work's Price (USD)
                              </p>
                              <input
                                required
                                type="number"
                                placeholder="1200"
                                class="border-b outline-none w-full placeholder:opacity-70 placeholder:text-md border-gray-400"
                              />
                            </div>
                            <div class="space-y-2">
                              <p class="text-md font-bold text-gray-500 tracking-wider">
                                Date
                              </p>
                              <input
                                required
                                type="date"
                                class="border-b outline-none w-full placeholder:opacity-70 placeholder:text-md border-gray-400"
                              />
                            </div>
                            <button
                              type="submit"
                              class="text-white font-bold tracking-wider p-2 bg-orange-600 rounded-md block w-full mx-auto max-w-[500px]"
                            >
                              Confirm
                            </button>
                          </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

<script src="/public/admin/addWork.js"></script>
</body>
</html>