<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TravelRecruit - About</title>
<!--
Holiday Template
http://www.templatemo.com/tm-475-holiday
-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link href="/public/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/bootstrap-datetimepicker.min.css" rel="stylesheet">  
  <link href="/public/css/flexslider.css" rel="stylesheet">
  <link href="/public/css/templatemo-style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="tm-gray-bg">
  	<!-- Header -->
  	<div class="tm-header">
		<div class="navContainer">
			<div class="rows siteName">
			  <a href="#" class="tm-site-name">TravelRecruit</a>
			</div>
				<div class="">
					<div class="mobile-menu-icon">
					<i class="fa fa-bars"></i>
				  </div>
					<nav class="tm-nav">
					  <ul>
						  <li><a href="/" >Home</a></li>
						  <li><a href="about"  class="active">About</a></li>
						  <li><a href="tours">Our Visas</a></li>
						  <li><a href="contact">Contact</a></li>
						  <li class="signup"><a href="register">Sign Up</a></li>
						  <li class="profile"><a href="profile">Profile</a></li>
					  </ul>
				  </nav>		
				</div>				
			</div>
		</div>	  	
	</div>
	
	<!-- Banner -->
	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title"><span class="tm-yellow-text">Tour</span> Packages</h1>
					<p class="tm-banner-subtitle">For Your Travels</p>
					<a href="#more" class="tm-banner-link">Learn More</a>	
				</div>
		      <img src="/public/img/banner-3.jpg" />
		    </li>
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title"> Know <span class="tm-yellow-text">More</span> About</h1>
					<p class="tm-banner-subtitle"> Foreign Jobs</p>
					<a href="#more" class="tm-banner-link">Learn More</a>	
				</div>
		      <img src="/public/img/banner-2.jpg" />
		    </li>
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title">Apply Today <span class="tm-yellow-text">For </span> Your</h1>
					<p class="tm-banner-subtitle">Work Visa</p>
					<a href="#more" class="tm-banner-link">Learn More</a>	
				</div>
		      <img src="/public/img/banner-1.jpg" />
		    </li>
		  </ul>
		</div>		
	</section>

	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider flexslider-about effect2">
			  <ul class="slides">
			    <li>
			      <img src="/public/img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">Welcome To TravelRecruit</h2>
			      	<h3 class="slider-subtitle">We offer Visas to Europe, Asia, North America and Australia</h3>
			      	<p class="slider-description">ravelrecruit is one of the world’s largest outsourcing and technology services specialist migration and work visa service provider worldwide. The company manages the administrative and non-judgmental tasks related to visa, passport, identity management and other citizen services for its client governments. This enables them to focus entirely on the critical task of assessment.

						With 3093 application centres and operations in 147 countries across 5 continents, Travel recruit serves the interests of 62 client governments. The company has successfully processed over 203 million applications since its inception in 2001, and over 84 million biometric enrolments since 2007.
						
						Travel recruit provides a wide range of services to visa applicants, all aimed at enhancing customer experience in public services with an automated and seamless process. However, Travel recruit does not play any part in the decision-making process behind visa applications being granted or denied.
						
						Travel recruit employs highly trained and dedicated staff across 5 continents, and is continually investing in its people and technology operations. The company offers rewarding and exciting career opportunities across the globe.
						
						Travel recruit is headquartered in Ottawa, Canada has a Swiss parentage and is a portfolio company of EQT, a leading global private equity firm headquarters in Canada. <a href="http://www.facebook.com/recruitnow" target="_parent">contact us</a>. <br><br>
                    We also assist our clients with IELTS, TOEFL and other necessary documents needed for their travel preparations. We Deliver document only VIA DHL , UPS and FEDEX</p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <img src="/public/img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">Thank you for choosing us!</h2>
			      	<h3 class="slider-subtitle">We appreciate you for chosing TravelRecruit</h3>
			      	<p class="slider-description">We are poised to make your travel experience worthwile. </p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <img src="/public/img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">We also offer IELTS training</h2>
			      	<h3 class="slider-subtitle">Learn and appy with our IELTS experts and get above 8.0 in the IELTS exams. Trained 800+ Students. Gain access to the best IELTS tutors, the best facilities & study abroad opportunities. Free IELTS mock test. Guaranteed IELTS success.</h3>
			      	<p class="slider-description">IELTS Registration in Canada-The Best IELTS Training Center. We have highly reputable tutors who will provide you with excellent IELTS training to ensure you achieve a very good result. IELTS (International English Language Testing System) is designed to assess the Language ability of candidate who needs to study, work or migrate where English is the Language of communication. This test is conducted for measuring test takers’ ability of communicating in English throughout all four Language skills- Speaking, Reading, Writing and Listening.

						Educational institutions, professional bodies, Corporations and immigration departments now recognize IELTS in the UK, Australia, Canada, New Zealand, and the USA.
						
						The test is managed by three main institutions: The British council, IDP: IELTS Australia and the University of Cambridge ESOL Examinations. There are two versions of the test: – Academic and General Modules.</p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <img src="/public/img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">Immigrant and Professional Job Seekers</h2>
			      	<h3 class="slider-subtitle">We offer jobs to job seekers all over the world willing to live and work in Canada</h3>
			      	<p class="slider-description">Jobs in Canada (Vacancies)
						For those of you interested in exploring the employment opportunities in Canada, the list of options for all professionals in that country is endless! Canada is best suited for all professionals from all walks of life. You can migrate to Canada and explore the best work environment for amazing remuneration. With plenty off jobs in Canada, the country is poised to become a magnet for professionals. There are many vacancies available in the country, wherein migrants can apply.
						
						How to find a job in Canada?
						There are plenty of educational jobs in Canada that are well suited for immigrants. If you are qualified and fluent in English and French, you can actually bag the best jobs in countless teaching positions, educational institutes, and schools in the country. With one of the best labour laws in the world, Canada is set to take over the international job market by storm.
						
						Teachers and academicians can heavily benefit from the ample job opportunities in the country. If you are thinking of a career in teaching or research, there are plenty of jobs in Canada. With a fine pedigree and skills, any professional can grow and develop in Canada.
						
						With vacancies and work opportunities on the rise for educational professionals, Canadian law requires you to opt for a work visa or permanent staying permit in the country. The country has some of the best schools and research institutes that have helped promising talent develop and grow into experts in their chosen areas. Teachers have promising career opportunities in Canada and these are the types of vacancies that are available in the snowy climes of the reindeer country:
						
						Geography instructor,
						Behavioural Scientists,
						Social Scientists,
						Stenographers,
						Urban Planners,
						Engineers,
						Writers and Journalists,
						Law professor,
						English Trainers,
						Continuing Professional Educational Coordinator,
						Coordinator,
						Librarians,
						BCGEU Instructor,
						Content Writers
						HR Managers,
						</p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			  </ul>
			</div>
		</div>
	
		<div class="section-margin-top about-section">
			<div class="row">				
				<div class="tm-section-header">
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Who We Are</h2></div>
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>	
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tm-about-box-1">
						<a href="#"><img src="/public/img/about-4.jpg" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">James Jerin Louis <span>( Founder )</span></h3>
						<p class="margin-bottom-15 gray-text">He founded the TravelRecruit in 2009.</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tm-about-box-1">
						<a href="#"><img src="/public/img/about-5.jpg" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">Keith <span>(Immigration Lawyer)</span></h3>
						<p class="margin-bottom-15 gray-text">Helps with the legal documentation for Canada applications.</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tm-about-box-1">
						<a href="#"><img src="/public/img/about-6.jpg" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">John Felix <span>( General Manager )</span></h3>
						<p class="margin-bottom-15 gray-text">.</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tm-about-box-1">
						<a href="#"><img src="/public/img/about-7.jpg" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">Smith <span>( Manager )</span></h3>
						<p class="margin-bottom-15 gray-text">.</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</section>		
	
	<!-- white bg -->
	<section class="tm-white-bg section-padding-bottom">
		<div class="container">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">How to apply</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>	
				</div>				
			</div>
			<div class="row">
				<!-- Testimonial -->
				<div class="col-lg-12">
					<div class="tm-what-we-do-right">
						<div class="tm-about-box-2 margin-bottom-30">
							<img src="/public/img/about-2.jpg" alt="image" class="tm-about-box-2-img">
							<div class="tm-about-box-2-text">
								<h3 class="tm-about-box-2-title">Evalualtion</h3>
				                <p class="tm-about-box-2-description gray-text">First: you will be required to send a copy of your CV, Passport, Education certificates, Prefessionlal certificates and any document to show your level of skill in a particular Trade, we will send your document to the appropriate departmnt to evaluate if you qualify for any of the job listings you applied for.</p>
				                <p class="tm-about-box-2-footer"></p>	
							</div>		                
						</div>
						<div class="tm-about-box-2">
							<img src="/public/img/about-3.jpg" alt="image" class="tm-about-box-2-img">
							<div class="tm-about-box-2-text">
								<h3 class="tm-about-box-2-title">Payment:</h3>
				                <p class="tm-about-box-2-description gray-text">We accept payments through the following</p>
				                <p class="tm-about-box-2-footer">Bank Transfer, Western Union, Moneygram, Paypal and Bitcoin</p>	
							</div>		                
						</div>
					</div>
					<div class="tm-testimonials-box">
						<h3 class="tm-testimonials-title">Testimonials</h3>
						<div class="tm-testimonials-content">
							<div class="tm-testimonial">
								<p>I am so thankful you guys are my travel agents as I am to overwhelmed with everything else to shop for airplane tickets. You know you are much more than travel people. You are my friends, and that means a great deal to me. Thankyou, in these unwanted times of crisis, you both came to help me.

									You are more than the best, sincerely Fahran
									Thanks, James Louis</p>
	       					</div>                	
						</div>
					</div>	
				</div>							
			</div>			
		</div>
	</section>
	<footer class="tm-black-bg">
		<div class="container">
			<div class="row">
				<p class="tm-copyright-text">Copyright &copy; 2022 TravelRecruit</p>
			</div>
		</div>		
	</footer>
	<script type="text/javascript" src="/public/js/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
  	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>					<!-- bootstrap js -->
  	<script type="text/javascript" src="/public/js/jquery.flexslider-min.js"></script>			<!-- flexslider js -->
  	<script type="text/javascript" src="/public/js/templatemo-script.js"></script>      		<!-- Templatemo Script -->
	<script>
		$(function() {

			// https://css-tricks.com/snippets/jquery/smooth-scrolling/
		  	$('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			      var target = $(this.hash);
			      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			      if (target.length) {
			        $('html,body').animate({
			          scrollTop: target.offset().top
			        }, 1000);
			        return false;
			      }
			    }
		  	});		  	
		});
		$(window).load(function(){
			// Flexsliders
		  	$('.flexslider.flexslider-banner').flexslider({
			    controlNav: false
		    });
		  	$('.flexslider').flexslider({
		    	animation: "slide",
		    	directionNav: false,
		    	slideshow: false
		  	});
		});
	</script>
	<script src="/public/auth.js"></script>
 </body>
 </html>
